$base-text-color: #545149;
$base-color: #4056A1;
$base-border-color: #545149;
$base-text-color: #545149;
$base-highlight-color: #d89820;
$base-attention-color: #ef3c22;
$base-muted-color: #c5cbe3;
$light-bg-color: #f5f1ec;
$light-text-color: #FFFFFF;

#user-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $base-highlight-color url("https://www.transparenttextures.com/patterns/food.png");
  padding-top: 96px;
  height: 400px;
  width: 100%;
}

#user-banner picture {
  flex-basis: 275px;
}

#user-banner img {
  max-height: 100%;
}

#user-banner h2 {
  margin-top: 0;
  color: $light-text-color;
}

@media screen and (min-width: 1024px) {
  #user-banner {
    flex-basis: 30vw;
    padding-top: 0;
    margin-left: 1.5em;
  }
}

@media screen and (min-width: 1536px) {
  #user-banner {
    flex-basis: 460px;
  }
  
}