$base-text-color: #545149;
$base-color: #4056A1;
$base-border-color: #545149;
$base-text-color: #545149;
$base-highlight-color: #d89820;
$base-attention-color: #ef3c22;
$base-muted-color: #c5cbe3;
$light-bg-color: #f5f1ec;
$light-text-color: #FFFFFF;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $light-text-color;
  font-size: 24px;
  height: 120px;
  padding: 0.5em 1.5em;
  position: fixed;
  width: 100%;

  .brand {
    font-family: 'Bungee', cursive;
    font-size: 1.8em;
  }
  
  .write-tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
    font-size: 0.85em;
    cursor: pointer;

    .text {
      color: $light-text-color;
    }
    
    .icon {
      display: block;
      width: 100%;
      color: $base-attention-color;
      text-align: center;
      animation: .7s linear 1s infinite alternate bounce; 
    }

    .write {
      font-weight: 600;
    }
    
  }

}

#btn-top {
  display: none;
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;
  background: $base-attention-color;
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: $light-text-color;
  width: 2.5em;
  height: 2.5em;
}

@keyframes bounce {
  from {
    transform: translateY(5px);
  }
  
  to {
    transform: translateY(0);
  }

}

@media screen and (min-width: 1024px) {
  nav {
    background-color: $base-color;
    position: fixed;
    top: 0;

    .brand {
      font-size: 2em;
      padding-top: 0.5em;
    }

    .write-tweet {
      font-size: 1em;
    }

  }

}

@media screen and (min-width: 1536px) {
  nav {
    justify-content: center;

    .brand {
      flex-basis: 1264px;
    }

    .write-tweet {
      flex-basis: 200px;
    }

  }
  
}