.new-tweet form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  background: transparent;
  border: none;
  border-bottom: 4px solid #000638;
  resize: none;
}

.new-tweet form label {
  color: #000638;
  font-weight: 600;
}

#tweet-text {
  font-size: 0.8em;
  font-weight: 600;
}

#tweet-text:focus::placeholder {
  opacity: 0;
}

#tweet-text:focus-visible {
  outline: none;
}

.new-tweet .actions-and-info {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  padding: 0.75em 0;
}

.new-tweet .actions-and-info button {
  background-color: #F06C9B;
  color: #FFFFFF;
  border: none;
  padding: 0.25em 0.5em;
  cursor: pointer;
  transition: background-color 0.25s ease;
  border-radius: 8px;
}

.new-tweet .actions-and-info button:hover {
  background-color: #E82167;
}

.new-tweet .actions-and-info .counter {
  margin-right: 0.25em;
}

.new-tweet .error {
  border: 4px solid #ef3c22;
  color: #ef3c22;
}