#user-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d89820 url("https://www.transparenttextures.com/patterns/food.png");
  padding-top: 96px;
  height: 400px;
  width: 100%;
}

#user-banner picture {
  flex-basis: 275px;
}

#user-banner img {
  max-height: 100%;
}

#user-banner h2 {
  margin-top: 0;
  color: white;
}