
#user-banner {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  background: #EFE2BA url("https://www.transparenttextures.com/patterns/robots.png");
  padding-top: 2em;
}

#user-banner h2 {
  margin-top: 0;
}