nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-size: 24px;
  padding: 0.5em 1em;
  position: absolute;
  width: 100%;
}

nav .brand {
  font-family: 'Bungee', cursive;
  font-size: 2em;
  padding-bottom: 0.50em;
}

nav .write-tweet {
  display: flex;
  flex-direction: column;
  border: none;
  background: transparent;
  font-size: 0.85em;
}

nav .write-tweet .text {
  color: white;
}

nav .write-tweet .write {
  font-weight: 600;
}

nav .write-tweet .icon {
    display: block;
    width: 100%;
    color: #FAF33E;
    text-align: center;
    animation: .7s linear 1s infinite alternate bounce; 
}

@keyframes bounce {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  nav {
    background-color: #23B5D3;
    padding: 0 1.5em;
    height: 5em;
    align-items: flex-start;
    position: fixed;
  }
  
  nav .brand {
    font-size: 1.5em;
    align-self: flex-end;
  }

}